#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% for key,  value in item.items() %}
  {% if value | bodsch.core.type == 'dict' %}
    {% for k, v in value.profiles.items() %}
      {% if k == 'default' %}
[{{ k }}]
      {% else %}
[profile {{ k }}]
      {% endif %}
region = {{ v.region | default('eu-central-1') }}
output = {{ v.output | default('text') }}

    {% endfor %}
  {% endif %}
{% endfor %}
