{% for key,  value in item.items() %}
{% if value | type == 'dict' %}
{% for k, v in value.profiles.items() %}
{% if k == 'default' %}
[{{ k }}]
{% else %}
[{{ k }}]
{% endif %}
aws_access_key_id = {{ v.access_key_id }}
aws_secret_access_key = {{ v.secret_access_key }}

{% endfor %}
{% endif %}
{% endfor %}
